<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="image/favicon.png" rel="icon" />
    <title>Souk El Medina</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/js/bootstrap/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/font-awesome/css/font-awesome.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/stylesheet.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/owl.carousel.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/owl.transitions.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/responsive.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/stylesheet-skin2.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/rate.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/rating.css')}}" />
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Droid+Sans' type='text/css'>


    <!-- CSS Part End-->
</head>

<body background="C:\wamp64\www\pl\PIDEV\web\bundles\image\arab.jpg">
<style>
    #header .header-row {
        background-color: transparent;
        background-image:url("https://media-cdn.tripadvisor.com/media/photo-s/07/93/d9/20/omede-restaurant.jpg");
       /* background-repeat: no-repeat;
        background-size: cover;*/



        padding:100px 0;
    }
    #header .htop { background-color:#293133 }

    #header .links > ul > li > a, #header .links > ul > li .wrap_custom_block > a, #header .links > ul > li.mobile, #header .links > ul > li.email, #language span, #currency span, #header #top-links > ul > li > a {
        color:#FFFFFF;
        text-transform:uppercase;
    }
    #menu {
        background-color:#293133;
        border:none;
    }
    #menu .nav > li:hover > a {
        background-color:#c0a16b;
        color:#fff;
    }
    #container {
        text-align:left;
        margin-top:20px;
        margin-bottom:20px;
        /*
        background-image: url("http://www.sajada.fr/images/produits/tapis/M0198-4-tapis-margoum-kairouan-rouge-salon.JPG");
        */
    }
    #header #cart .heading .cart-icon { background:#FFFFFF; }
    #header #cart .heading .cart-icon:before, #header #cart .heading .cart-icon:after, #header #cart .dropdown-menu { border-color:#FFFFFF; }

    #header #cart .heading { color:#FFFFFF;}
    #footer .fpart-first { background-color:#293133; }
    #footer .fpart-first, #footer .fpart-first a { color:#FFFFFF; }
    #footer .fpart-second { background-color:#cdb1; }




</style>
<div class="wrapper-wide">
    <div id="header">



        <nav id="top" class="htop">
            <div class="container">
                <div class="row"> <span class="drop-icon visible-sm visible-xs"><i class="fa fa-align-justify"></i></span>
                    <div id="top-links" class="nav pull-right flip">
                       <ul>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login')}}">Login</a></li>
                                <li><a href="{{ path('fos_user_registration_register')}}">Register</a></li>
                            {% endif %}
                        </ul>


                    </div>
                </div>
            </div>
        </nav>
        <!-- Top Bar End-->
        <!-- Header Start-->
        <header class="header-row">
            <div class="container">
                <div class="table-container">
                    <!-- Logo Start -->
                    <div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
                        <div id="logo"><a href="index.html"><img  style="width: 200px;height: 100px"   class="img-responsive" src="{{ asset('bundles/image/souk_logo.png')}}" title="MarketShop" alt="MarketShop" /></a></div>
                    </div>
                    <!-- Logo End -->
                    <!-- Mini Cart Start-->

                    <!-- Mini Cart End-->
                  {#  <!-- Search Start-->
                    <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12 inner">
                        <div id="search" class="input-group">
                            <input id="filter_name" type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                            <button type="button" class="button-search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <!-- Search End-->#}
                </div>
            </div>
        </header>
        <!-- Main Menu Start-->

        <nav id="menu" class="navbar">
            <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
            <div class="container">
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="home_link" title="Home" href="{{ path('home') }}">Home</a></li>

                        {% if is_granted("ROLE_VENDEUR") %}
                        <li class="dropdown"><a href="{{ path('_AfficheMagasin') }}">Magasin</a>
                            {% endif %}
                            {% if is_granted("ROLE_ADMIN") %}

                        <li class="dropdown"><a href="{{ path('_Affiche2Magasin') }}">Magasin</a>

                            {% endif%}
                            {% if is_granted("ROLE_UTILISATEUR") %}

                        <li class="dropdown"><a href="{{ path('_Affiche2Magasin') }}">Magasin</a>

                            {% endif %}
                            <div class="dropdown-menu">
                                <ul>



                                    <li><a href="{{ path('list') }}" >Galerie de Produit</a> </li>



                                </ul>
                            </div>
                        </li>
                        <li class="dropdown"> <a href="{{ path('_affiche2') }}">Evenement</a>
                        </li>



                        <li class="dropdown information-link"><a href="{{ path('touannonces') }}">Annonces</a>
                            <div class="dropdown-menu">
                                <ul>
                                    {% if is_granted("ROLE_UTILISATEUR") %}
                                        <li> <a href="{{ path('ajout_vente') }}">Ajouter Annonce</a></li>
                                        <li> <a href="{{ path('affiche_vente') }}">Mes Annonces</a></li>
                                    {% endif %}

                                </ul>

                            </div>
                        </li>

                        <li class="dropdown information-link"><a>Interessant</a>
                            <div class="dropdown-menu">
                                <ul>

                                    <li><a href="{{ path('fos_user_profile_show') }}">My Account</a></li>


                                    <li><a href="cart.html">Forum</a></li>
                                </ul>
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>


                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </li>

                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('back_office') }}" >Consulter page admin </a></li>
                        {% endif %}


                        <li class="custom-link-right"><a href="{{ path('_int') }}"> Reclamation </a></li>
                      <li>  <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div id="cart">
                                <a href="{{ path('Afficher_Panier') }}">   <button type="button"   class="heading dropdown-toggle">
                                        <span class="cart-icon pull-left flip"></span>
                                        <span id="cart-total"></span></button></a>

                            </div>
                        </div></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main Menu End-->
        <!-- Header End-->
        {% block content %}

        {% endblock %}

        <!--Footer Start-->
        <footer id="footer">
            <div class="fpart-first">
                <div class="container">
                    <div class="row">
                        <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <img alt="" src="{{ asset('bundles/image/logo-small.png')}}">
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>Information</h5>
                            <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="about-us.html">Delivery Information</a></li>
                                <li><a href="about-us.html">Privacy Policy</a></li>
                                <li><a href="about-us.html">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>Customer Service</h5>
                            <ul>
                                <li><a href="contact-us.html">Contact Us</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="sitemap.html">Site Map</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>Extras</h5>
                            <ul>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Gift Vouchers</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Specials</a></li>
                            </ul>
                        </div>
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>My Account</h5>
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Wish List</a></li>
                                <li><a href="#">Newsletter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fpart-second">
                <div class="container">
                    <div id="powered" class="clearfix">
                    </div>
                </div>
            </div></footer>
        <!--Footer End-->
        <!-- Twitter Side Block Start -->
        <div id="twitter_footer" class="twit-right sort-order-1">
            <div class="twitter_icon"><i class="fa fa-twitter"></i></div>
            <a class="twitter-timeline" href="https://twitter.com/" data-chrome="nofooter noscrollbar transparent" data-theme="light" data-tweet-limit="2" data-related="twitterapi,twitter" data-aria-polite="assertive" data-widget-id="347621595801608192">Tweets by @</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <!-- Twitter Side Block End -->
        <!-- Facebook Side Block Start -->

        <!-- Facebook Side Block End -->
    </div>
    <!-- JS Part Start-->
    <script type="text/javascript" src="{{ asset('bundles/js/jquery-2.1.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.easing-1.3.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.dcjqaccordion.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/owl.carousel.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/custom.js')}}"></script>
    <!-- JS Part End-->

</body>
</html>