{% extends "::base.html.twig" %}

 {% block content %}

     <h1>Listes des evenements</h1>
     <table class="table">

         <tr>
             <th>Nom Evenement</th><th>Date Debut</th><th>Date Fin</th><th>Lieux</th><th>Description</th>
         </tr>
         {% for evenement in e %}
             <tr>
                 <td><a href="{{ path('_singleEvent',{'id_Evenement':evenement.id_Evenement}) }}">{{ evenement.nomEvenement }}</a></td>
                 <td>{{ evenement.dateDebut|date("y-m-d") }}</td>
                 <td>{{ evenement.dateFin|date("y-m-d") }}</td>
                 <td>{{ evenement.Lieux}}</td>
                 <td>{{ evenement.Description }}</td>
                 {#<td><a href="{{ path('_ajoutComment',{'id_Evenement':evenement.id_Evenement}) }}">Add Comment</a> </td>#}


             </tr>

         {% endfor %}

     </table>

 {% endblock %}


