{% extends "::base.html.twig" %}
{% block content %}

<h1>Ajout Evenement</h1>
    <div class="container">
    <div class="col-sm-9" id="content">
{{ form_start(form) }}
<div class="form-group required">
    {{ form_label(form.dateDebut, 'Date de Debut', {'label_attr' :{'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.dateDebut, {'attr':{'class':'form-control','placeholder':'Date de Debut'}}) }}
    </div>
</div>
<div class="form-group required">
    {{ form_label(form.dateFin, 'Date de Fin', {'label_attr' :{'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.dateFin, {'attr':{'class':'form-control','placeholder':'Date de Fin'}}) }}
    </div>
</div>
<div class="form-group required">
    {{ form_label(form.nomEvenement, 'Nom Evenement', {'label_attr' :{'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.nomEvenement, {'attr':{'class':'form-control','placeholder':'Nom Evenement'}}) }}
    </div>
</div>

<div class="form-group required">
    {{ form_label(form.lieux, 'Lieux ', {'label_attr' :{'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.lieux, {'attr':{'class':'form-control','placeholder':'Lieux'}}) }}
    </div>
</div>

<div class="form-group required">
    {{ form_label(form.description, 'Description', {'label_attr' :{'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.description, {'attr':{'class':'form-control','placeholder':'Description'}}) }}
    </div>
</div>
    <div class="pull-right">
    <input type="submit" class=" btn btn-primary col-lg-push-3" value="Crée un Evenement">
    </div>




    {{ form_end(form) }}
    </div>
    </div>

        {% include '@FullCalendar/Calendar/calendar.html.twig' %}

{% endblock %}
