{#




<div class="container">
    <div class="invoice">
        <div class="row">
            <div class="col-7">
                <img src="{{ asset('bundles/image/logo2.png') }}" class="logo">
            </div>
            <div class="col-5">
                <h1 class="document-type display-4">FACTURE</h1>
                <p class="text-right"><strong>N°90T-17-01-0123</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <p>
                    <strong>90TECH SAS</strong><br>
                    6B Rue Aux-Saussaies-Des-Dames<br>
                    57950 MONTIGNY-LES-METZ
                </p>
            </div>
            <div class="col-5">
                <br><br><br>
                <p>
                    <strong>Energies54</strong><br>
                    Réf. Client <em>{{ app.user }}</em><br>
                    12 Rue de Verdun<br>
                    54250 JARNY
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom du Produit</th>
                <th>Prix du produit </th>
                <th>Description</th>
                <th>Nom du Vendeur</th>

            </tr>
            </thead>

            {% set counter = 0 %}
            {% for pr in m %}
                <tbody>
                <tr>
                    <td>{{ pr.id_Produit.nomProduit }}</td>

                    <td>{{  pr.id_Produit.prix }} dt</td>

                    <td >{{ pr.id_Produit.description }}</td>
                    <td >{{ pr.id_Produit.idUtilisateur.username }}</td>
                </tr>

                </tbody>
            {% endfor %}
        </table>
        {% for i in m %}
            {% set counter = counter + ((i.id_Produit.prix )*(i.id_Produit.quantite)) %}
        {% endfor %}
        <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4">
                <table class="table table-sm text-right">
                    <tr>
                        <td><strong>Total </strong></td>
                        <td class="text-right">{{ counter }} DT</td>



                    </tr>

                </table>
            </div>
        </div>


    </div>

</div>
#}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <style >
        /*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

        * { margin: 0; padding: 0; }
        body { font: 14px/1.4 Georgia, serif; }
        #page-wrap { width: 800px; margin: 0 auto; }
        .delete {
            display: none;
        }

        textarea { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
        table { border-collapse: collapse; }
        table td, table th { border: 1px solid black; padding: 5px; }

        #header { height: 15px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

        #address { width: 250px; height: 150px; float: left; }
        #customer { overflow: hidden; }

        #logo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }
        #logo:hover, #logo.edit { border: 1px solid #000; margin-top: 0px; max-height: 125px; }
        #logoctr { display: none; }
        #logo:hover #logoctr, #logo.edit #logoctr { display: block; text-align: right; line-height: 25px; background: #eee; padding: 0 5px; }
        #logohelp { text-align: left; display: none; font-style: italic; padding: 10px 5px;}
        #logohelp input { margin-bottom: 5px; }
        .edit #logohelp { display: block; }
        .edit #save-logo, .edit #cancel-logo { display: inline; }
        .edit #image, #save-logo, #cancel-logo, .edit #change-logo, .edit #delete-logo { display: none; }
        #customer-title { font-size: 20px; font-weight: bold; float: left; }

        #meta { margin-top: 1px; width: 300px; float: right; }
        #meta td { text-align: right;  }
        #meta td.meta-head { text-align: left; background: #eee; }
        #meta td textarea { width: 100%; height: 20px; text-align: right; }

        #items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black; }
        #items th { background: #eee; }
        #items textarea { width: 80px; height: 50px; }
        #items tr.item-row td { border: 0; vertical-align: top; }
        #items td.description { width: 300px; }
        #items td.item-name { width: 175px; }
        #items td.description textarea, #items td.item-name textarea { width: 100%; }
        #items td.total-line { border-right: 0; text-align: right; }
        #items td.total-value { border-left: 0; padding: 10px; }
        #items td.total-value textarea { height: 20px; background: none; }
        #items td.balance { background: #eee; }
        #items td.blank { border: 0; }

        #terms { text-align: center; margin: 20px 0 0 0; }
        #terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
        #terms textarea { width: 100%; text-align: center;}

        textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

        .delete-wpr { position: relative; }
        .delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }
    </style>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <title>Facture </title>


</head>

<body>

<div id="page-wrap">

    <textarea id="header">Souk el Madina </textarea>

    <div id="identity">
            <textarea id="address">                   ID. {{ app.user.id }} Mr. {{ app.user.username }}
               </textarea>

        <textarea id="address">
               </textarea>
        &nbsp;

        <textarea id="address">                              E-mail :  {{ app.user.email }}
               </textarea>


    </div>

    <div style="clear:both"></div>

    <div id="customer">

            <textarea id="customer-title">Votre Commande
</textarea>

        <table id="meta">
            <tr>
                <td class="meta-head">ID</td>
                <td><textarea></textarea></td>
            </tr>
            <tr>

                <td class="meta-head">Imprimer en </td>
                <td><textarea id="date"> {{ 'now'|date('d - m -Y') }}
                      </textarea></td>
            </tr>


        </table>

    </div>

    <table id="items">

        <tr>
            <th>Id Produit </th>
            <th>Nom du Produit </th>
            <th>Prix</th>
            <th>Nom Vendeur </th>
            <th>Nom Magasin </th>

        </tr>

        {% set counter = 0 %}
        {% for pr in m %}
            <tbody>
            <tr>
                <td>{{ pr.id_Produit.nomProduit }}</td>
                <td>{{ pr.id_Produit.idProduit }}</td>

                <td>{{  pr.id_Produit.prix }} dt</td>

                <td >{{ pr.id_Produit.idUtilisateur.username }}</td>
                <td >{{ pr.id_Produit.idMagasin.nomMagasin }}</td>
            </tr>

            </tbody>
        {% endfor %}
        {% for i in m %}
            {% set counter = counter + (i.id_Produit.prix ) %}
        {% endfor %}
        <tr>
            <td><strong>Total </strong></td>
            <td class="text-right">{{ counter }} DT</td>



        </tr>
    </table>

    <div id="terms">
        <h5>Terms</h5>
        <textarea>cette facture sera utiliser l'ors d'un echec de livraison en cas de perte de cette facture vous ne serez pas rembourser</textarea>
    </div>

</div>

</body>

</html>

<div style="text-align: center; height: 45%;left: 10%;right: 10%;width: 67%;margin:0px auto;">

    <table id="wrapper">
        <tr>

        </tr>
    </table>

</div>
</div>