{#

{% extends "::base.html.twig" %}
{% block content %}
    <h1 style="text-align: center; color: #cb1d1d"> Liste des Produits</h1>

    <br>


    <table class="table">
        <section class="tableau">


            <tr>

                <th class="cellule">Nom du Produit</th>
                <th class="cellule">Prix du Produit</th>
                <th class="cellule">Quantite</th>
                <th class="cellule">Description</th>
                <th class="cellule">Image</th>




            </tr>


            {% for produit in p %}
                <tr>

                    <td><a href="{{ path('afficher_Produit',{'id':produit.idProduit} )}}">{{ produit.nomProduit }}</a></td>
                    <td>{{ produit.prix }}</td>
                    <td>{{ produit.quantite }}</td>
                    <td>{{ produit.description }}</td>
                    <td>  <img style="width: 360px ;height: 200px" src="{{ asset('bundles/uploads/brochures/'~produit.brochure )}}"></td>



                </tr>

            {% endfor %}


        </section>

    </table>


{% endblock %}

#}

{% extends "::base.html.twig" %}
{% block content %}
    {#
        <h1 style="text-align: center; color: #cb1d1d"> Liste des Produits</h1>
    #}

    <br>

    {#
        <table class="table">
            <section class="tableau">


                <tr>

                    <th class="cellule">Nom du Produit</th>
                    <th class="cellule">Prix du Produit</th>
                    <th class="cellule">Quantite</th>
                    <th class="cellule">Description</th>
                    <th class="cellule">Image</th>
    #}{#                <th class="cellule">Modifier</th>
                    <th class="cellule">Supprimer</th>#}{#


                </tr>


                {% for produit in p %}
                    <tr>


                        <td><a href="{{ path('listI',{'id':produit.id}) }}">{{ produit.nomProduit }}</a></td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.quantite }}</td>
                        <td>{{ produit.description }}</td>
                        <td>  <a   href="{{ asset('bundles/uploads/brochures/'~(produit.brochure) )}}"><img style="width: 50px; height: 50px" src="{{ asset('bundles/uploads/brochures/'~(produit.brochure) )}}"></a></td>
                        #}{#
                        <td>  <a href="{{ asset('bundles/uploads/brochures/'~(produit.brochure) )}}">View brochure (PDF)</a></td>
    #}{#
    #}{#                    <td><a href="{{ path('produit_modifier',{'id':produit.id} )}}">modifier</a></td>
                        <td><a href="{{ path('produit_supprimer',{'id':produit.id} )}}">supprimer</a></td>#}{#

                    </tr>

                {% endfor %}


            </section>

        </table>#}




    <!-- gallery -->
    <div class="gallery">
        <div class="container">
            <h3 class="agileits-title">Our Products</h3>
            {% if is_granted("ROLE_VENDEUR") %}
                <a href="{{ path('produit_Affichage') }}"> <h6 style="text-align: center" class="agileits-title">Gerer Les Produit </h6> </a>
            {% endif %}

            {# =====================================================================


             <div class="rating1">
                         <span class="starRating">
                             <input id="rating5" type="radio" name="rating" value="5">
                             <label for="rating5">5</label>
                             <input id="rating4" type="radio" name="rating" value="4">
                             <label for="rating4">4</label>
                             <input id="rating3" type="radio" name="rating" value="3" checked="">
                             <label for="rating3">3</label>
                             <input id="rating2" type="radio" name="rating" value="2">
                             <label for="rating2">2</label>
                             <input id="rating1" type="radio" name="rating" value="1">
                             <label for="rating1">1</label>
                         </span>
             </div>


             =====================================================================
 #}
            {% for produit in p %}

                <div class="col-sm-4 col-xs-6 w3gallery-grids">
                    <div class="imghvr-hinge-right figure">
                        {#<img src="{{ asset('bundles/template/images/g3.jpg')}}" alt="" title="Pets Care Image"/>#}
                            <img style="width: 360px; height: 360px" src="{{ asset('bundles/uploads/brochures/'~(produit.brochure) )}}">
                            <div class="agile-figcaption">

                                <h4>Souk el Mdina </h4>

                                <p>{{ produit.nomProduit}}</p>
                            <p>{{ produit.prix}}</p>
                            <p>{{ produit.quantite}}</p>
                            <p>{{ produit.description}}</p>
                                <a  href="{{ path('afficher_Produit',{'id':produit.idProduit} )}} "> <input type="submit" style="position: absolute ;bottom: 30%;left:40% ; " value="Detaill" class=" btn btn-primary col-lg-push-3"> </a>

                                <br>
                                <br>
                                <br>
                                <br>


                            </div>


                     </div>


                </div>

            {% endfor%}


            <div class="clearfix"> </div>
        </a>
        </div>
    </div>
    </div>

{% endblock %}






{#
    <br>
    <a href="{{ path('produit_Ajout') }}" > <h5 style="text-align: center">Ajouter un nouveaux Produit </h5></a>
    <br>
#}



