{% extends "::base.html.twig" %}
{% block content %}


    <h1 style="text-align: center; color: #cb1d1d"> Modifier Un Produit</h1>
    <div class="container">
        <div class="row">
            {{ form_start(p) }}

            <div class="form-group required">
                {{ form_label(p.nomProduit, 'Changer Nom Produit ', {'label_attr' :{'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">


                    {{ form_widget(p.nomProduit, {'attr':{'class':'form-control','placeholder':'Nom Produit'}}) }}
                </div>
            </div>


            <div class="form-group required">
                {{ form_label(p.prix, 'Changer Prix  Produit ', {'label_attr' :{'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">

                    {{ form_widget(p.prix, {'attr':{'class':'form-control','placeholder':'Prix du Produit'}}) }}
                </div>
            </div>


            <div class="form-group required">
                {{ form_label(p.quantite, 'Changer Quantitée Produit ', {'label_attr' :{'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">


                    {{ form_widget(p.quantite,  {'attr':{'class':'form-control ','placeholder':'Quatitée du produit'}}) }}
                </div>
            </div>

            <div class="form-group required">
                {{ form_label(p.description, 'Changer La Description du  Produit ', {'label_attr' :{'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">


                    {{ form_widget(p.description,  {'attr':{'class':'form-control ','placeholder':'Description'}}) }}
                </div>
            </div>


            {{ form_row(p.brochure) }}



            <div  class="pull-right">
                <br><br><br><br><br>

                                                <input type="submit" class=" btn btn-primary col-lg-push-3" value="Valider votre modification">

                <br>        <br><br><br><br></div>

            {{ form_end(p) }}
        </div>
    </div>
{% endblock %}

