{% extends "::base.html.twig" %}
{% block content %}
    <style>

        thead th {

            font-family: 'Patua One', cursive;
            font-size:16px;
            font-weight:400;
            color:#fff;
            text-shadow:1px 1px 0px rgba(0,0,0,0.5);
            text-align:left;
            padding:20px;
            background-color: #ff756b;
            linear-gradient: #5e51fb;
            border-top:1px solid #3626fb;}
        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }


        .table {

            border-collapse: separate;
            background:#fff;
            border-radius:5px;
            margin:50px auto;
            box-shadow:0px 0px 5px rgba(0,0,0,0.3);
        }

        thead {
            border-radius:5px;
        }


        first-child {
            border-top-left-radius:5px;
        }

        last-child {
        border-top-right-radius(5px);
        }


        tbody tr td {
            font-family: 'Open Sans', sans-serif;
            font-weight:400;
            color:#5f6062;
            font-size:13px;
            padding:20px 20px 20px 20px;
            border-bottom:1px solid #e0e0e0;

        }

        tbody tr:nth-child(2n) {
            background:#f0f3f5;
        }

        tbody tr:last-child td {
            border-bottom: none;
        }
        first-child {
        border-bottom-left-radius(5px);
        }
        last-child {
        border-bottom-right-radius(5px);
        }


        tbody:hover > tr td {
            opacity:0.5;

            /* uncomment for blur effect */
            /* color:transparent;
            @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
        }

        tbody:hover > tr:hover td {
            text-shadow:none;
            color:#2d2d2d;
            opacity:1.0;
        }


    </style>
<h1 style="text-align: center;color: #cb1d1d">Mes Annonce</h1>


<table class="table">
    <section class="table">
        <thead>
    <tr>
        <th class="cellule">Titre</th><th class="cellule">Ville</th><th class="cellule">Region</th><th class="cellule">Description</th>
        <th class="cellule">Telephone vendeur</th>
        <th class="cellule">Prix</th>
        <th class="cellule">Image</th>
        <th class="cellule">Modifier</th>
        <th class="cellule">Supprimer</th>
    </tr>
        </thead>
        <tbody>
    {% for annonces in a %}

        <tr>
            <td >{{ annonces.titre }}</td>
            <td>{{ annonces.ville }}</td>
            <td>{{ annonces.region }}</td>
            <td>{{ annonces.description}}</td>
            <td>{{ annonces.telephoneVendeur }}</td>
            <td>{{ annonces.prix }}</td>
            <td><img src="{{ asset('bundles/images/')~ annonces.imageName }}" style="width: 200px;" class="img-responsive"/></td>
            <td><a href="{{ path('modifier_vente',{'idVenteLibre':annonces.idVenteLibre}) }}">Modifier</a> </td>
            <td><a href="{{ path('supprimer_vente',{'idVenteLibre':annonces.idVenteLibre}) }}">Supprimer</a> </td>
        </tr>


    </section>    {% endfor %}
    </tbody>

</table>

{% endblock %}


