
{% extends "::base.html.twig" %}
{% block content %}

    <h1 style="text-align: center ; color: #cb1d1d" xmlns="http://www.w3.org/1999/html">Listes Des Magasins</h1>
    <table class="table">
        <section class="tableau"></section>

        <tr>
            <th>Id</th> <th>Nom Magasin</th><th>Propriétaire Magasin</th> <th>AddresseMagasin</th>
            {% if is_granted("ROLE_VENDEUR") %}
                <th>Modifier Magasin</th>
                <th>Supprimer Magasin</th>
            {% endif %}
        </tr>

        {% for magasin in m %}
            <tr>
                <td>{{ magasin.getIdMagasin() }}</td>
                <td>{{ magasin.getNomMagasin() }}</td>
                <td>{{ magasin.getPropMagasin() }}</td>
                <td>{{ magasin.getAddresseMagasin() }}</td>
                {% if is_granted("ROLE_VENDEUR") %}
                    <td><a href="{{ path('_ModifierMagasin',{'id':magasin.getIdMagasin()}) }}">Modifier</a></td>
                    <td><a href="{{ path('_SupprimerMagasin',{'id':magasin.getIdMagasin()}) }}">Supprimer</a></td>

                {% endif %}


            </tr>

        {% endfor %}
        </section>

    </table>
    <br>
    {% if is_granted("ROLE_VENDEUR") %}
        <a href="{{ path('_RechercheMagasin') }}"><h5 style="text-align: center"> Effectuer Recherche</h5></a>
        <a href="{{ path('_AjoutMagasin') }}"><h5 style="text-align: center"> Ajouter une Magasin </h5></a>
        <br>
    {% endif %}
{% endblock %}